# Map, Filter, and Reduce Functions
## https://www.youtube.com/watch?v=hUes6y2b--0

In [0]:
# 计算一系列半径的圆的面积

In [0]:
import math

In [0]:
# 计算面积
def area(r):
    """area of a circle with radius 'r'."""
    return math.pi * (r**2)

In [0]:
# 半径
radii = [2, 5, 7,1 ,0.3, 10]

In [4]:
# method 1
areas = []
for r in radii:
    a = area(r)
    areas.append(a)

areas

[12.566370614359172,
 78.53981633974483,
 153.93804002589985,
 3.141592653589793,
 0.2827433388230814,
 314.1592653589793]

In [5]:
# method 2
[area(r) for r in radii]

[12.566370614359172,
 78.53981633974483,
 153.93804002589985,
 3.141592653589793,
 0.2827433388230814,
 314.1592653589793]

In [6]:
# method 3, with map function, map take 2 arguments, first is function, second is list/tuple or other iterable object
map(area, radii)

In [7]:
list(map(area, radii))

[12.566370614359172,
 78.53981633974483,
 153.93804002589985,
 3.141592653589793,
 0.2827433388230814,
 314.1592653589793]

In [8]:
# more examples

temps = [("Berlin", 29), ("Cairo", 36), ("Buenos Aires", 19), ("Los Angeles", 26), ("Tokyo", 27), ("New York", 28), ("London", 22), ("Bejing", 32)]

c_to_f = lambda data: (data[0], (9/5)*data[1] + 32)

list(map(c_to_f, temps))

[('Berlin', 84.2),
 ('Cairo', 96.8),
 ('Buenos Aires', 66.2),
 ('Los Angeles', 78.80000000000001),
 ('Tokyo', 80.6),
 ('New York', 82.4),
 ('London', 71.6),
 ('Bejing', 89.6)]

### filter function is used to select certain pieces of data from a list/tuple or other collection of data.

In [0]:
# let's select all data that above the mean

In [0]:
import statistics

In [0]:
data = [1.3, 2.7, 0.8, 4.1, 4.3, -0.1]

In [11]:
avg = statistics.mean(data);avg

2.183333333333333

In [12]:
# like map. filter 1st take a function, 2nd take a list/tuple...
filter(lambda x: x>avg, data)

In [13]:
list(filter(lambda x: x>avg, data))

[2.7, 4.1, 4.3]

In [14]:
list(filter(lambda x: x<avg, data))

[1.3, 0.8, -0.1]

In [0]:
# remove empty data
countries = ["", "China", "USA", "Chile", "", "", "Brazil"]

In [17]:
list(filter(None, countries))

['China', 'USA', 'Chile', 'Brazil']

### reduce

In [0]:
# data: [a1, a2, a3, ....., an]
# function: f(x, y)

# reduce(f, data):
#    step 1: val1 = f(a1, a2)
#    step 2: val2 = f(val1, a3)
#    step 3: val3 = f(val2, a4)
#    ......
#    step n-1: valn-1= f(valn-2, an)
# return valn-1

In [0]:
from functools import reduce

In [0]:
# multiply all numbers in a list

data = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [0]:
multiplier = lambda x, y: x*y

In [21]:
reduce(multiplier, data)

6469693230

In [22]:
# use for loop instead
product = 1
for i in data:
    product = product * i
product

6469693230

In [23]:
# sum
sum(data)

129

In [24]:
# use reduce tosum
reduce(lambda x, y:x+y, data)

129